<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
            <form #tempForm="ngForm" (ngSubmit)="onTempFormSubmit()">
                <div class="form-horizontal">

                    <div class="form-group mb-2 col-xs-6">
                        <label for="firstName">First name</label>
                        <input type="text" 
                        class="form-control" 
                        id="firstName" 
                        name="firstName"
                        required 
                        appOnlyAlphabets
                        [(ngModel)]="user.firstName"
                        placeholder="First Name"
                        contenteditable="true">
                        <small 
                        *ngIf="!tempForm.form.get('firstName')?.valid && tempForm.form.get('firstName')?.touched" 
                        class="form-text text-danger">
                            Enter valid name
                        </small>
                    </div>
                    <div class="form-group mb-2 col-xs-6">
                        <label for="middleName">Middle name</label>
                        <input type="text" 
                        class="form-control" 
                        id="middleName" 
                        name="middleName"
                        required
                        appOnlyAlphabets
                        [(ngModel)]="user.middleName"
                        placeholder="Middle Name">
                        <small 
                        *ngIf="!tempForm.form.get('middleName')?.valid && tempForm.form.get('middleName')?.touched" 
                        class="form-text text-danger">
                            Enter valid name
                        </small>
                    </div>
                    <div class="form-group mb-2">
                        <label for="lastName">Last name</label>
                        <input type="text" 
                        class="form-control" 
                        id="lastName" 
                        name="lastName"
                        required 
                        appOnlyAlphabets
                        [(ngModel)]="user.lastName"
                        placeholder="Last Name">
                        <small 
                        *ngIf="!tempForm.form.get('lastName')?.valid && tempForm.form.get('lastName')?.touched" 
                        class="form-text text-danger">
                            Enter valid name
                        </small>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label for="fullName">Full Name</label>
                        <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" disabled 
                         [ngModel]="user.firstName +' '+ user.middleName +' '+ user.lastName">
                </div>
                <div class="form-group mb-2">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" id="age" name="age" placeholder="age" 
                    required
                    [(ngModel)]="user.age">
                    <small 
                    *ngIf="!tempForm.form.get('age')?.valid && tempForm.form.get('age')?.touched" 
                    class="form-text text-danger">
                        Enter valid age
                    </small>
                </div>

                <label for="gender">Gender</label>
                <div class="form-group mb-2">
                    <input type="radio" class="form-radio-input " value="male" id="male" name="gender" 
                    [(ngModel)]="user.gender" 
                    required
                    checked>
                    <label for="male" class="form-radio-label me-2">Male</label>
                    <input type="radio" class="form-radio-input" value="female" id="female" name="gender" 
                    [(ngModel)]="user.gender" 
                    required>
                    <label for="female" class="form-radio-label">Female</label>
                    <small 
                    *ngIf="!tempForm.form.get('gender')?.valid && tempForm.form.get('gender')?.touched" 
                    class="form-text text-danger">
                        please select one gender
                    </small>
                </div>
                <label for="gender">Hobbies</label>
                <div class="form-group mb-2" ngModelGroup="hobbies" #hobbies="ngModelGroup">
                    <span *ngFor="let hobby of hobbyList">
                        <input type="checkbox" class="form-check-input me-1"
                         [value]="hobby" [name]="hobby" 
                        [(ngModel)]="user.hobbies[hobby]">
                        <label for="music" class="form-check-label me-2">{{hobby |  uppercase}}</label>
                    </span>
                   <small 
                    *ngIf="!tempForm.form.get('hobbies')?.valid && !tempForm.form.get('hobbies')?.touched " 
                    class="form-text text-danger">
                        Select any one hobbies
                    </small>
                </div>
                <div class="form-group mb-2">
                    <label for="company">Company</label>
                    <select class="form-control" id="company" name="company" [(ngModel)]="user.company" required>
                        <option>Google</option>
                        <option>Microsoft</option>
                        <option>Amazon</option>
                        <option>Facebook</option>
                        <option>Netflix</option>
                        <option>Apple</option>
                        <option>Samsung</option>
                    </select>
                    <small 
                    *ngIf="!tempForm.form.get('company')?.valid && tempForm.form.get('company')?.touched" 
                    class="form-text text-danger">
                        Select any one company
                    </small>
                </div>

                <input type="button" value="Back" name="back" id="back"
                (click)="back()"
                class="btn btn-primary mt-3 me-3">
                <input type="button" value="Clear" name="clear" id="claer"
                (click)="clearForm()"
                class="btn btn-danger mt-3 me-3">
                <input type="submit" value="Save" name="save" id="save"
                [disabled]="!tempForm.form.valid " 
                class="btn btn-primary mt-3 me-3">
            </form>
        </div>
    </div>
</div>