<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
            <form #idForm="ngForm" (ngSubmit)="onIdFormSubmit()">
                <div class="form-group mb-2">
                    <label for="id" class="form-label">User Id</label>
                    <input type="number" name="id" class="form-control"
                    ngModel 
                    required>
                    <span *ngIf="!idForm.form.get('id')?.valid && idForm.form.get('id')?.touched" class="mt-1 text-danger">
                        please enter valid id
                    </span>
                    <span *ngIf="error" class="mt-1 text-danger">
                        {{error}}
                    </span>
                </div>
                <input type="submit" value="Enter" name="Enter" id="Enter"
                [disabled]="!idForm.form.valid" 
                class="btn btn-primary">
            </form>
        </div>
    </div>
</div>